@font-face {
    font-family: 'falling-sky-condensed-oblique';
    src: url('fonts/FallingSkyCondensedOblique-leLw.otf');
}

body {
    background-color: grey;
    margin: 0;
    font-family: 'falling-sky-condensed-oblique';
    font-size: large;
    line-height: normal;
}

header {
    display: flex;
    background-color: black;
    color: #00e004;
    margin-bottom: 40px;
}

.col-nav-1,
.col-nav-2 {
    flex: 1;
}

.col-nav-1 {
    width: 30%;
}

.col-nav-empty {
    width: 30%;
}

.col-nav-2 {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.col-nav-1 ul,
.col-nav-2 ul {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.col-nav-1 ul li,
.col-nav-2 ul li {
    margin-right: 20px;
    list-style: none;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 100%;
    height: auto;
    filter: invert(1);
    margin-left: 12px;
}

button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #00e004;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    height: 40px;
    padding: 0 12px;
    font-size: 18px;
    border-radius: 6px;
    color: black;
}

#gallery {
    margin: 0 20px 10px 20px;
    text-align: center;
}

#gallery img {
    max-width: 40%;
    height: auto;
    margin: 10px;
}

footer {
    position: absolute;
    left: 0;
    width: 100%;
    background-color: black;
    color: #00e004;
}

footer p {
    margin-left: 25px;
}

.contact-info {
    margin-left: 60px;
}
